@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Hi+Melody&family=Lobster&family=Playpen+Sans:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

:root {
  --main-color: #ff69b4;
  --sub-color: rgb(252, 249, 235);
}

#fixation {
  width: 960px;
  margin: 40px auto;

  #library {
    margin: 0px auto;
  }
}

header,
.logo {
  display: flex;
  justify-content: center;
}

header {
  width: 400px;
  gap: 30px;
  flex-direction: column;
  margin: 0px auto 30px;

  .logo {
    color: var(--main-color);
    align-items: center;
    font-size: 50px;
    font-family: 'Lobster', sans-serif;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/*-------------------- Search function -----------------------*/

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 30px;
  align-items: center;

  .search-entry {
    background-color: var(--sub-color);
    padding: 0px 20px 0px 20px;
    width: 350px;
    height: 50px;
    position: relative;
    border: 3px solid var(--main-color);
    font-family: 'Playpen Sans', cursive;
    font-size: 12px;
  }

  .btn {
    vertical-align: baseline;
    cursor: pointer;
    height: 50px;
    padding: 0 25px;
    max-width: 100%;
    line-height: 24px;
    display: inline-block;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    font-family: 'Playpen Sans', cursive;
    font-size: 16px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    font-size: 15px;
  }

  .btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    top: -2px;
    transform: translate(5px, 5px);
    transition: transform .2s ease-out;
    z-index: -1;
    position: absolute;
  }

  .btn:hover:after {
    transform: translate(0, 0);
  }

  .btn:active {
    background-color: #ffdeda;
    outline: 0;
  }

  .btn:hover {
    outline: 0;
  }
}

/* ----------------result-------------------- */

.inputGroup {
  width: 638px;
  border: 3px solid var(--main-color);
  margin: 0 auto;
  padding: 30px;
  overflow: auto;
}

input::placeholder {
  font-size: 1.4em;
  color: #a5a5a5;
}

img {
  justify-content: center;
}

.result_books {
  display: grid;
}

.booksList {
  display: grid;
  justify-content: center;
  grid-template-columns: 120px 120px 120px 120px;
  gap: 30px;
}

.book {
  list-style: none;
  float: left;
  position: relative;

  .bookPosterNone {
    width: 120px;
    height: 180px;
    background: #e3e3e3 url('/static/assets/book-bookmark-minimalistic-svgrepo-com.png') no-repeat 50% 50%;
    float: left;
    background-size: 30px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      outline-color: transparent;
      outline-style: solid;
      transition: all 400ms ease-in-out;
      filter: brightness(0.4);
    }
  }

  .bookPoster {
    width: 120px;
    height: 180px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      outline-color: transparent;
      outline-style: solid;
      transition: all 300ms ease-in-out;
      filter: brightness(0.4);
    }
  }

  .info {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Gamja Flower', sans-serif;

    p:first-child {
      margin-top: 110px;
      height: 40px;
      line-height: 1.1;
    }

    p:last-child {
      margin-top: 10px;
      color: #a5a5a5;
    }

  }
}

.beforeResult {
  padding: 50px 210px 50px 200px;
}

.waiting {
  width: 200px;
  height: 240px;
}

.findBefore {
  width: 200px;
  font-size: 150%;
  font-weight: 700;
  color: #a5a5a5;
  font-family: 'Hi Melody', sans-serif;
}

.detailContentContainer {
  display: flex;
  margin-bottom: 50px;
  margin-top: 100px;
  gap: 80px;

  .bookPoster {
    width: 200px;
    border-radius: 5px;
  }

  .bookPosterNone {
    height: 300px;
    width: 200px;
    border-radius: 5px;
    background: #e3e3e3 url('/static/assets/book-bookmark-minimalistic-svgrepo-com.png') no-repeat 50% 50%;
    background-size: 30px;
  }

  .detailTitle {
    font-family: 'Gamja Flower', sans-serif;
    color:#4b4b4b;
    font-size: 40px;
    font-weight: 700;
  }

  .detailInfo {
    margin-top: 20px;
    display: flex;
    font-size: 17px;
    font-weight: 700;
    color: var(--main-color);
    font-family: 'Gamja Flower', sans-serif;

    li + li::before {
      content: '·';
      padding: 0 15px;
    }
  }

  .contentInfo {
    color:#a5a5a5;
    font-weight: 100;
  }
  
  h5 {
    margin-top: 20px;
    border-top: 1px solid #a5a5a5;
  }
  

}

/* ----------- loading ------------- */

.onStandby {
  display: none;
  padding: 30px 180px 87px 180px;
}

.loading {
  width: 210px;
  height: 210px;
}

.moment {
  width: 300px;
  font-size: 19px;
  color: #a5a5a5;
  font-family: 'Playpen Sans', cursive;
}

.noResult {
  display: none;
  padding: 150px 0px 150px 0px;
}

.noResultNotification {
  text-align: center;
  font-family: 'Playpen Sans', cursive;
  font-size: 16px;
}

/* -------------------- Paging ------------------------- */

.pagingBlock {
  text-align: center;
  margin-top: 30px;
  display: none;
}

#numbers {
  cursor: pointer;
  display: inline-block;
}

#numbers .page_box {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 2px solid var(--main-color);
  margin: 0 4px;
}

#numbers .page_box:hover {
  background-color: #ddd;
}

.clicked {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
}

/* -------------------- Footer ------------------------- */

footer {
  margin: 50px auto 0px;
  text-align: center;
  font-family: 'Playpen Sans', cursive;
  font-size: 15px;
  color: #a5a5a5;
}